-set_title "Hi Bae"

%section.small
  .container.py-3
    %table.table.table-hover.table-sm.table-bordered.text-center
      %thead
        %tr
          %th Checklist
          %th Name
          %th Address
          %th Number Attending
          %th Attending
          %th RSVP Date
      %tbody
        -@rsvps.each do |r|
          %tr
            %td
              =simple_form_for r, url: mgh_checklist_path(id: r.id), method: :patch, remote: true do |f|
                =f.input :ceremony, as: :boolean, label: false
                =f.submit '', class: "d-none"
            %td #{r.first_name} #{r.last_name}
            %td #{r.street_address} #{r.city} #{r.state} #{r.zipcode}
            %td #{r.attendees}
            %td
              -if r.not_attending.blank?
                Yes
              -else
                No
            %td #{r.created_at.strftime('%x')}
        %tr
          %td.font-weight-bold{colspan: 3} Total Attending
          %td= @total
          %td
          %td